@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Upload a CSV file</p>
    
    <div class="w-50 p-3">
        <form method="post" enctype="multipart/form-data">
            <dl>
                <dt>
                    <span asp-validation-for="CsvFile" class="text-danger"></span>
                </dt>
                <dd>
                    <input asp-for="CsvFile" type="file" class="form-control">
                </dd>
            </dl>
            <input asp-page-handler="Upload" type="submit" value="Upload" />
        </form>
    </div>
</div>
