@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Upload a CSV file</p>
    
    <form method="post" enctype="multipart/form-data">
        <dl>
            <dd>
                <input asp-for="CsvFile" type="file">
                <span asp-validation-for="CsvFile"></span>
            </dd>
        </dl>
        <input asp-page-handler="Upload" type="submit" value="Upload" />
    </form>
</div>
